CompileFlags:
  Remove: [-mno-fp-ret-in-387, -fplugin-arg-structleak_plugin-byref-all,-mpreferred-stack-boundary=3,-mrecord-mcount,-fno-allow-store-data-races,-mindirect-branch-register,-mindirect-branch=thunk-extern,-mskip-rax-setup,
-fconserve-stack]

Diagnostics:
  ClangTidy:
    Remove: readability-misleading-indentation
